body{
    background-color:#282726 ; 
    color: #E1DFDD;
}
#burger_pic{
    float: left;
}
.container{
    margin-top: 20px;
}

#new{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
}

.burger_name,#title{ 
    text-align: center;
}
.btn{
    background-color: #E78005  ; 
}
#new_burger{
    width:50%;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
#burger{

    width: 20%;
    text-align: center;
    margin: auto;
}
.row{
    margin: 10px 0;
}
